
.class-body{
    background-image: url("../imagens/fundo.png");
    padding: 30px;
    margin: 30px;
}
.title-custom{
    font-family: "Times New Roman", sans-serif;
    color: limegreen;
    font-size: 28px!important;
}

.letter-style{
    font-family: Arial, sans-serif;
}
.align-center{
    text-align: center;
}
.font-italic{
    font-style: italic;
}
html{
    background-color: white;
}
